<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  </style>
</head>
<body>
<table border="1" id="customers">
    <thead>
        <tr>
           <th>Name</th>
           <th>Artist</th>
           <th>Genre</th>
           <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="songlist :${songlist}">
            <td th:text="${songlist.name}"></td>
            <td th:text="${songlist.artist}"></td>
            <td th:text="${songlist.genre}"></td>
            <td>
                <audio controls>
                 <source th:src="${songlist.link}" type="audio/mpeg" >
                </audio>
            </td>
        </tr>
    </tbody>
   </table></body>
</html>